.description{
  text-align: center;
}

button{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    color: white;
    cursor: pointer;
}
.center {
  padding-left: 10%;
  padding-right: 10%;

}
img{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: auto;
  border-radius: 20px;
}

a{
    text-decoration: none;
    color:white;
}

.cerrar{
    background-color: #c2185b;
}

.vermas{
    margin-left: 35%;
    background-color: dodgerblue;
}
